<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mildlamb.dao.UserMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="getUserById" resultType="user" parameterType="int" useCache="true">
        select * from user
        <where>
            <if test="uid != null">
                id = #{uid}
            </if>
        </where>
    </select>

    <update id="updateUser" parameterType="user">
        update user set name=#{name},pwd=#{pwd} where id = #{id}
    </update>
</mapper>