<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mildlamb.dao.MasterMapper">

    <!-- 按照结果嵌套查询 -->
    <resultMap id="MaCham" type="Master2">
        <result property="id" column="id"></result>
        <result property="name" column="name"></result>
        <!-- 复杂的属性，我们需要单独处理 对象：associateion 集合：collection
            javaType：指定属性的类型
            ofType：指定集合中泛型的类型
         -->
        <collection property="champions" ofType="champion2">
            <result property="id" column="cid"></result>
            <result property="name" column="cname"></result>
            <result property="mid" column="id"></result>
        </collection>
    </resultMap>

    <select id="getMaster" resultMap="MaCham">
        select m.*,c.id as cid,c.name as cname from master m,champion c where m.id = c.mid and m.id = #{mid};
    </select>

    <!-- ======================================================== -->
    <resultMap id="MaCham2" type="Master2">
        <result property="id" column="aid"></result>
        <result property="name" column="aname"></result>
        <collection property="champions" column="aid" javaType="ArrayList" ofType="champion2" select="getChampionById"></collection>
    </resultMap>

    <select id="getMaster2" resultMap="MaCham2">
        select m.id as aid,m.name as aname from master m where id = #{mid}
    </select>
    
    <select id="getChampionById" resultType="champion2">
        select * from champion where mid = #{aid}
    </select>
</mapper>